<a href="https://colab.research.google.com/github/cyrus723/my-first-binder/blob/main/lamda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [5]:
(lambda x: x + 1)(2)

3

In [6]:
add_one = lambda x: x + 1
add_one(2)

3

In [7]:
full_name = lambda first, last: f'Full name: {first.title()} {last.title()}'
full_name('guido', 'van rossum')

'Full name: Guido Van Rossum'

In [19]:
x ="Cyrus Hi"

# lambda gets pass to print
(lambda x : print(x))(x)

Cyrus Hi

In [10]:
# Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12, 0]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)

[4, 6, 8, 12, 0]

In [12]:
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12, 100]

new_list = list(map(lambda x: x * 2 , my_list))

print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24, 200]

In [13]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter (lambda x: x > 4, sequences) 
print(list(filtered_result))

[10, 8, 7, 5, 11]

In [15]:
square = lambda x : x * x
square(5)

25

In [17]:
greet = lambda name: print('Hello', name, '?') 
greet('Cyrus')

Hello Cyrus ?

Lambda functions reduce the number of lines of code when compared to normal python function defined using def keyword. But this is not exactly true because, even functions defined with def can be defined in one single line. But generally, def functions are written in more than 1 line.
They are generally used when a function is needed temporarily for a short period of time, often to be used inside another function such as filter, map and reduce.
Using lambda function, you can define a function and call it immediately at the end of definition. This canâ€™t be done with def functions

In [18]:
print((lambda x: x if(x > 10) else 10)(5))

10