<a href="https://colab.research.google.com/github/cyrus723/my-first-binder/blob/main/logistic_regression1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# using sklearn.datasets.fetch_openml
https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_openml.html

In [70]:
from sklearn.datasets import fetch_openml
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [40]:
X, y = fetch_openml("titanic", version=1, as_frame=True, return_X_y=True)
type(X)

pandas.core.frame.DataFrame

In [41]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   float64
 1   name       1309 non-null   object
 2   sex        1309 non-null   category
 3   age        1046 non-null   float64
 4   sibsp      1309 non-null   float64
 5   parch      1309 non-null   float64
 6   ticket     1309 non-null   object
 7   fare       1308 non-null   float64
 8   cabin      295 non-null    object
 9   embarked   1307 non-null   category
 10  boat       486 non-null    object
 11  body       121 non-null    float64
 12  home.dest  745 non-null    object
dtypes: category(2), float64(6), object(5)
memory usage: 115.4+ KB

#### https://pandas.pydata.org/docs/reference/series.html

In [42]:
y.dtype

CategoricalDtype(categories=['0', '1'], ordered=False)

In [43]:
y.attrs

{}

In [44]:
y.values

['1', '1', '0', '0', '0', ..., '0', '0', '0', '0', '0']
Length: 1309
Categories (2, object): ['0', '1']

In [45]:
y

0       1
1       1
2       0
3       0
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, Length: 1309, dtype: category
Categories (2, object): ['0', '1']

In [46]:
y.index

RangeIndex(start=0, stop=1309, step=1)

In [47]:
y.empty

False

In [48]:
X.columns

Index(['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare',
       'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [49]:
y.name

'survived'

In [50]:
y.flags

In [51]:
y.astype

<bound method NDFrame.astype of 0       1
1       1
2       0
3       0
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, Length: 1309, dtype: category
Categories (2, object): ['0', '1']>

In [52]:
y.rank

<bound method NDFrame.rank of 0       1
1       1
2       0
3       0
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, Length: 1309, dtype: category
Categories (2, object): ['0', '1']>

In [53]:
y.type

AttributeError: ignored

In [54]:
y.astype

<bound method NDFrame.astype of 0       1
1       1
2       0
3       0
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, Length: 1309, dtype: category
Categories (2, object): ['0', '1']>

In [55]:
type(y)

pandas.core.series.Series

In [56]:
df = pd.merge(X, y, right_index = True, left_index = True)
print(df)

      pclass                                             name     sex  \
0        1.0                    Allen, Miss. Elisabeth Walton  female
1        1.0                   Allison, Master. Hudson Trevor    male
2        1.0                     Allison, Miss. Helen Loraine  female
3        1.0             Allison, Mr. Hudson Joshua Creighton    male
4        1.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
...      ...                                              ...     ...
1304     3.0                             Zabour, Miss. Hileni  female
1305     3.0                            Zabour, Miss. Thamine  female
1306     3.0                        Zakarian, Mr. Mapriededer    male
1307     3.0                              Zakarian, Mr. Ortin    male
1308     3.0                               Zimmerman, Mr. Leo    male

          age  sibsp  parch  ticket      fare    cabin embarked  boat   body  \
0     29.0000    0.0    0.0   24160  211.3375       B5        S     2    NaN
1      0.9167    1.0    2.0  113781  151.5500  C22 C26        S    11    NaN
2      2.0000    1.0    2.0  113781  151.5500  C22 C26        S  None    NaN
3     30.0000    1.0    2.0  113781  151.5500  C22 C26        S  None  135.0
4     25.0000    1.0    2.0  113781  151.5500  C22 C26        S  None    NaN
...       ...    ...    ...     ...       ...      ...      ...   ...    ...
1304  14.5000    1.0    0.0    2665   14.4542     None        C  None  328.0
1305      NaN    1.0    0.0    2665   14.4542     None        C  None    NaN
1306  26.5000    0.0    0.0    2656    7.2250     None        C  None  304.0
1307  27.0000    0.0    0.0    2670    7.2250     None        C  None    NaN
1308  29.0000    0.0    0.0  315082    7.8750     None        S  None    NaN

                            home.dest survived
0                        St Louis, MO        1
1     Montreal, PQ / Chesterville, ON        1
2     Montreal, PQ / Chesterville, ON        0
3     Montreal, PQ / Chesterville, ON        0
4     Montreal, PQ / Chesterville, ON        0
...                               ...      ...
1304                             None        0
1305                             None        0
1306                             None        0
1307                             None        0
1308                             None        0

[1309 rows x 14 columns]

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   float64
 1   name       1309 non-null   object
 2   sex        1309 non-null   category
 3   age        1046 non-null   float64
 4   sibsp      1309 non-null   float64
 5   parch      1309 non-null   float64
 6   ticket     1309 non-null   object
 7   fare       1308 non-null   float64
 8   cabin      295 non-null    object
 9   embarked   1307 non-null   category
 10  boat       486 non-null    object
 11  body       121 non-null    float64
 12  home.dest  745 non-null    object
 13  survived   1309 non-null   category
dtypes: category(3), float64(6), object(5)
memory usage: 116.8+ KB

In [58]:
df.index

RangeIndex(start=0, stop=1309, step=1)

$$ logit(Survival) = \alpha  + \beta_{1}*PClass + \beta_3*Age + \epsilon  $$

Here we are going to call a formula and use the GLM functionality

In [63]:
formula = 'survived ~ age + pclass'
model = smf.glm(formula = formula, data=df, family=sm.families.Binomial())
result=model.fit()
print(result.summary())

                       Generalized Linear Model Regression Results
==========================================================================================
Dep. Variable:     ['survived[0]', 'survived[1]']   No. Observations:                 1046
Model:                                        GLM   Df Residuals:                     1043
Model Family:                            Binomial   Df Model:                            2
Link Function:                              logit   Scale:                          1.0000
Method:                                      IRLS   Log-Likelihood:                -628.09
Date:                            Sun, 29 May 2022   Deviance:                       1256.2
Time:                                    02:20:23   Pearson chi2:                 1.05e+03
No. Iterations:                                 4
Covariance Type:                        nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -3.1143      0.327     -9.520      0.000      -3.755      -2.473
age            0.0370      0.005      6.770      0.000       0.026       0.048
pclass         1.1015      0.096     11.530      0.000       0.914       1.289
==============================================================================

# Interpretation

- **Age** - for each year increase in age, the odds of survival on the titanic decreased about 1-0.96 = 0.04 or 4%
- **Pclass** - for each marginal decrease in passenger class (ie 1st to 2nd class) the odds of survival decreased by 1-0.29 = 71%